header {
  background-color: rgba(0, 0, 0, 1);
  padding: 1rem 0;
  
  .brand {
    font-size: 2.5rem;
    font-weight: 400;
    color: white;
    font-family: "Satisfy", cursive;
    span {
      color: rgb(244,140,52);
    }
  }

  nav {
    a {
      margin-left: 2rem;
      color: #ffffff;
      &:hover {
        color: rgb(244,140,52);
      }
    }
  }


  .active{
    border-bottom: 4px solid rgb(244,140,52);
  }
}
